body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

.gray-header {
    width: 100%;
    height: 60px;
    background-color: #AFAFAF;
}

.orange-header {
    background-color:  #FF6600;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.text-header {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 24px; 
    color: white; 
    padding-left: 20px;
}